<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iris Bank</title>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- CSS Libs -->
    @Styles.Render("~/misc/css")
    @Styles.Render("~/bundles/css")

    <!-- CSS App -->
    @Styles.Render("~/Content/css/style.css")
    @Styles.Render("~/Content/css/themes/flat-blue.css")

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("Scripts", false)

</head>
<body class="flat-blue">
    @using Microsoft.AspNet.Identity;
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li class="active">Dashboard</li>
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-comments-o"></i></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="title">
                                    Notification <span class="badge pull-right">0</span>
                                </li>
                                <li class="message">
                                    No new notification
                                </li>
                            </ul>
                        </li>*@
                        <li class="dropdown danger">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-star-half-o"></i> 4</a>
                            <ul class="dropdown-menu danger  animated fadeInDown">
                                <li class="title">
                                    Notification <span class="badge pull-right">4</span>
                                </li>
                                <li>
                                    <ul class="list-group notifications">
                                        <a href="#">
                                            <li class="list-group-item">
                                                <span class="badge">1</span> <i class="fa fa-exclamation-circle icon"></i> new registration
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li class="list-group-item">
                                                <span class="badge success">1</span> <i class="fa fa-check icon"></i> new orders
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li class="list-group-item">
                                                <span class="badge danger">2</span> <i class="fa fa-comments icon"></i> customers messages
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li class="list-group-item message">
                                                view all
                                            </li>
                                        </a>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@User.Identity.GetUserName() <span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="profile-img">
                                    <img src="~/Content/img/profile/picjumbo.com_HNCK4153_resize.jpg" class="profile-img">
                                </li>
                                <li>
                                    <div class="profile-info">
                                        <h4 class="username">@User.Identity.Name</h4>
                                        <p>@User.Identity.GetUserName()</p>
                                        <div class="btn-group margin-bottom-2x" role="group">
                                            @*<button type="button" class="btn btn-default"><i class="fa fa-user"></i> Profile</button>*@
                                            @Html.ActionLink("Profile", "Details", "Account", new { id = User.Identity.GetUserId() }, new { @class = "btn btn-default" })
                                            @*<button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i> Logout</button>*@
                                            @Html.ActionLink("Log Out", "LogOff", "Account", null, new { @class = "btn btn-default" })
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="@Url.Action("Index","Home")"/>
                                <div class="icon fa fa-paper-plane"></div>
                                <div class="title">Iris Bank</div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            @*<li class="active">
                                <a href="index.html">
                                    <span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span>
                                </a>
                            </li>*@
                                    @if (User.IsInRole("EmployeeManager") || User.IsInRole("Admin"))
                                    {
                                        <li class="panel panel-default dropdown">
                                            <a data-toggle="collapse" href="#dropdown-element">
                                                <span class="icon fa fa-desktop"></span><span class="title">Employees</span>
                                            </a>
                                            <!-- Dropdown level 1 -->
                                            <div id="dropdown-element" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <ul class="nav navbar-nav">
                                                        <li>
                                                            @Html.ActionLink("Create", "Register", "Account")
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("Search", "Index", "Account")
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("Logs", "Index", "employees_log")
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="panel panel-default dropdown">
                                            <a data-toggle="collapse" href="#dropdown-example">
                                                <span class="icon fa fa-slack"></span><span class="title">Employee Roles</span>
                                            </a>
                                            <!-- Dropdown level 1 -->
                                            <div id="dropdown-example" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <ul class="nav navbar-nav">
                                                        @*<li>
                                                            @Html.ActionLink("Create", "Create", "employees_types")
                                                        </li>*@
                                                        <li>
                                                            @Html.ActionLink("Search", "Index", "employees_types")
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    @if (User.IsInRole("ClientManager") || User.IsInRole("Admin"))
                                    {
                                        <li class="panel panel-default dropdown">
                                            <a data-toggle="collapse" href="#dropdown-table">
                                                <span class="icon fa fa-table"></span><span class="title">Clients</span>
                                            </a>
                                            <!-- Dropdown level 1 -->
                                            <div id="dropdown-table" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <ul class="nav navbar-nav">
                                                        <li>
                                                            @Html.ActionLink("Create", "Create", "clients")
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("Search", "Index", "clients")
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("Logs", "Index", "clients_log")
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="panel panel-default dropdown">
                                            <a data-toggle="collapse" href="#dropdown-form">
                                                <span class="icon fa fa-file-text-o"></span><span class="title">Accounts</span>
                                            </a>
                                            <!-- Dropdown level 1 -->
                                            <div id="dropdown-form" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <ul class="nav navbar-nav">
                                                        <li>
                                                            @Html.ActionLink("Create", "Create", "accounts")
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("Search", "Index", "accounts")
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("Logs", "Index", "accounts_log")
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="panel panel-default dropdown">
                                            <a data-toggle="collapse" href="#dropdown-form3">
                                                <span class="icon fa fa-university"></span><span class="title">Bank Details</span>
                                            </a>
                                            <!-- Dropdown level 1 -->
                                            <div id="dropdown-form3" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <ul class="nav navbar-nav">
                                                        <li>
                                                            @Html.ActionLink("Create", "Create", "banks")
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("Search", "Index", "banks")
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    }
                            @*<!-- Dropdown-->
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#component-example">
                                    <span class="icon fa fa-cubes"></span><span class="title">Vendors</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="component-example" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                @Html.ActionLink("Create", "Create", "vendors")
                                            </li>
                                            <li>
                                                @Html.ActionLink("Search", "Index", "vendors")
                                            </li>
                                            <li>
                                                @Html.ActionLink("Logs", "Index", "vendor_log")
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>*@
                            <!-- Dropdown-->
                                @if (User.IsInRole("Vendor") || User.IsInRole("Admin"))
                                {
                                  <li class="panel panel-default dropdown">
                                        <a data-toggle="collapse" href="#component-example2">
                                            <span class="icon fa fa-archive"></span><span class="title">Merchants</span>
                                        </a>
                                        <!-- Dropdown level 1 -->
                                        <div id="component-example2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="nav navbar-nav">
                                                    <li>
                                                        @Html.ActionLink("Purchase", "Purchase", "Merchant")
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("Logs", "Index", "purchases_log")
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                }
                            @*                            
                            <!-- Dropdown-->
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-icon">
                                    <span class="icon fa fa-archive"></span><span class="title">Icons</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-icon" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a href="/fonts/icons/glyphicons.html">Glyphicons</a>
                                            </li>
                                            <li>
                                                <a href="/fonts/icons/font-awesome.html">Font Awesomes</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="license.html">
                                    <span class="icon fa fa-thumbs-o-up"></span><span class="title">License</span>
                                </a>
                            </li>*@
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>

            @RenderBody()
        </div>

        <!-- Footer -->
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span>
            </div>
        </footer>
    </div>

    <!-- Javascript Libs -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/irisjs")

    <!-- Javascript -->
    @Scripts.Render("~/Scripts/js/index.js")
    @Scripts.Render("~/Scripts/js/app.js")

</body>
</html>
